.dashboard {
    width: 82vw;
    background: white;
}
.header_dashboard 
{
    padding-left: 100px;
    font-weight: bold;
}
.face-detector {
    position: relative;
    margin-left: 100px;
    width: 800px;
    height: 450px;
    padding: 0;
}
canvas {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
}
video {
    width: 100%;
    height: 100%;
    padding: 0;
}